{{ asset_add("styles.css", "anomaly.field_type.tags::scss/select2/core.scss") }}
{{ asset_add("scripts.js", "anomaly.field_type.tags::js/select2.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.tags::js/input.js") }}

<select multiple
        class="form-control"
        name="{{ field_type.input_name }}[]"
        data-placeholder="{{ trans(field_type.placeholder) }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

    {% for key, title in field_type.options %}
        <option {{ key in field_type.value ? 'selected' }} value="{{ key }}">{{ title }}</option>
    {% endfor %}

</select>

<small class="text-muted">
    {{ trans('anomaly.field_type.tags::input.help') }}
</small>
